<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nqoannn - Booking Website</title>

  <link rel="shortcut icon" href="../static/assets/images/logo/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../static/assets/css/style-prefix.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>


  <div class="overlay" data-overlay></div>

  <!--
    - HEADER
  -->

  <header>

    <div class="header-top">

      <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

        <div class="header-top-actions">

          <select name="currency">

            <option value="usd">USD &dollar;</option>
            <option value="eur">EUR &euro;</option>

          </select>

          <select name="language">

            <option value="en-US">English</option>
            <option value="es-ES">Espa&ntilde;ol</option>
            <option value="fr">Fran&ccedil;ais</option>

          </select>

        </div>

      </div>

    </div>

    <div class="header-main">

      <div class="container">

        <a href="{% url 'home'%}" class="header-logo">
          <img src="../static/assets/images/logo/logo1.png" alt="Toan's logo" width="150" height="90">
        </a>

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="What are you looking for...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        <div class="header-user-actions">

          <button class="action-btn">
            <ion-icon name="person-outline"></ion-icon>
          </button>

          <button class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">0</span>
          </button>

        </div>

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="#" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <a href="{% url 'hotel_list' 1%} " class="menu-title">List hotel</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title"> find with Ai!</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title"> Travel Blog</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
          </li>

        </ul>

      </div>

    </nav>

    <div class="mobile-bottom-navigation">

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="heart-outline"></ion-icon>

        <span class="count">{count}</span>
      </button>
      
      <button class="action-btn">
        <ion-icon name="person-outline"></ion-icon>
      </button>

      <!-- <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="grid-outline"></ion-icon>
      </button> -->

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title">Home</a>
        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Men's</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Shirt</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Shorts & Jeans</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Safety Shoes</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Wallet</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Women's</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Dress & Frock</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Earrings</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Necklace</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Makeup Kit</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Jewelry</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Earrings</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Couple Rings</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Necklace</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Bracelets</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Perfume</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Clothes Perfume</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Deodorant</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Flower Fragrance</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Air Freshener</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Blog</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Language</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Espa&ntilde;ol</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Fren&ccedil;h</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Currency</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">USD &dollar;</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">EUR &euro;</a>
              </li>
            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

  </header>





  <!--
    - MAIN
  -->

  <main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="../static/assets/images/banner-1.png" alt="summer sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending hotel</p>

              <h2 class="banner-title">Summer is the best</h2>

              <p class="banner-text">
                starting at &dollar; <b>200</b>.00
              </p>

              <a href="#" class="banner-btn">Book now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="../static/assets/images/banner-2.png" alt="modern sunglasses" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending hotel</p>

              <h2 class="banner-title">Modern Hotel with pool</h2>

              <p class="banner-text">
                starting at &dollar; <b>300</b>.00
              </p>

              <a href="#" class="banner-btn">Book now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="../static/assets/images/banner-3.png" alt="new fashion summer sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Sale Offer</p>

              <h2 class="banner-title">New hotel in Paris</h2>

              <p class="banner-text">
                starting at &dollar; <b>250</b>.99
              </p>

              <a href="#" class="banner-btn">Book now</a>

            </div>

          </div>

        </div>

      </div>

    </div>

    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="product-box">

          <div class="product-minimal">

            <div class="product-showcase">

              <h2 class="title">New Hotels</h2>

              <div class="showcase-wrapper has-scrollbar">

                <div class="showcase-container">
                  {% for hotel in newhotel1 %}
                  <div class="showcase">
                    <a href="{% url 'hotel_detail' hotel.hotelcode %}" class="showcase-img-box">
                      <img src="{{hotel.image}}" alt="{{hotel.hotelname}}" width="70" height="70" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'hotel_detail' hotel.hotelcode %}">
                        <h4 class="showcase-title">{{hotel.hotelname}}</h4>
                      </a>
                      <p class="showcase-category">{{ hotel.address }}</p>
                      <div class="stars">
                        {% for i in '12345' %}
                        {% if i|add:0 <= hotel.starrating %} <span>★</span>
                          {% else %}
                          <span>☆</span>
                          {% endif %}
                          {% endfor %}
                      </div>
                      <div class="price-box">
                        <p class="price">${{ hotel.pricemin }} - ${{hotel.pricemax}}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="showcase-container">
                  {% for hotel in newhotel2 %}
                  <div class="showcase">
                    <a href="{% url 'hotel_detail' hotel.hotelcode %}" class="showcase-img-box">
                      <img src="{{hotel.image}}" alt="{{hotel.hotelname}}" width="70" height="70" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'hotel_detail' hotel.hotelcode %}">
                        <h4 class="showcase-title">{{hotel.hotelname}}</h4>
                      </a>
                      <p class="showcase-category">{{ hotel.address }}</p>
                      <div class="stars">
                        {% for i in '12345' %}
                        {% if i|add:0 <= hotel.starrating %} <span>★</span>
                          {% else %}
                          <span>☆</span>
                          {% endif %}
                          {% endfor %}
                      </div>
                      <div class="price-box">
                        <p class="price">${{ hotel.pricemin }} - ${{hotel.pricemax}}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

              </div>

            </div>

            <div class="product-showcase">

              <h2 class="title">Trending</h2>

              <div class="showcase-wrapper  has-scrollbar">

                <div class="showcase-container">
                  {% for hotel in trending1 %}
                  <div class="showcase">
                    <a href="{% url 'hotel_detail' hotel.hotelcode %}" class="showcase-img-box">
                      <img src="{{hotel.image}}" alt="{{hotel.hotelname}}" width="70" height="70" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'hotel_detail' hotel.hotelcode %}">
                        <h4 class="showcase-title">{{hotel.hotelname}}</h4>
                      </a>
                      <p class="showcase-category">{{ hotel.address }}</p>
                      <div class="stars">
                        {% for i in '12345' %}
                        {% if i|add:0 <= hotel.starrating %} <span>★</span>
                          {% else %}
                          <span>☆</span>
                          {% endif %}
                          {% endfor %}
                      </div>
                      <div class="price-box">
                        <p class="price">${{ hotel.pricemin }} - ${{hotel.pricemax}}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="showcase-container">
                  {% for hotel in trending2 %}
                  <div class="showcase">
                    <a href="{% url 'hotel_detail' hotel.hotelcode %}" class="showcase-img-box">
                      <img src="{{hotel.image}}" alt="{{hotel.hotelname}}" width="70" height="70" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                      <a href="{% url 'hotel_detail' hotel.hotelcode %}">
                        <h4 class="showcase-title">{{hotel.hotelname}}</h4>
                      </a>
                      <p class="showcase-category">{{ hotel.address }}</p>
                      <div class="stars">
                        {% for i in '12345' %}
                        {% if i|add:0 <= hotel.starrating %} <span>★</span>
                          {% else %}
                          <span>☆</span>
                          {% endif %}
                          {% endfor %}
                      </div>
                      <div class="price-box">
                        <p class="price">${{ hotel.pricemin }} - ${{hotel.pricemax}}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

              </div>

            </div>

          </div>



          <!--
            - PRODUCT FEATURED
          -->

          <div class="product-featured">

            <h2 class="title">Recommended of the day</h2>

            <div class="showcase-wrapper has-scrollbar">
              {% for hotel in result %}
              <div class="showcase-container">

                <div class="showcase">

                  <div class="showcase-banner">
                    <img src="{{hotel.image}}" alt="{{hotel.hotelname}}" class="showcase-img">
                  </div>

                  <div class="showcase-content">

                    <div class="showcase-rating">
                      {% for i in '12345' %}
                      {% if i|add:0 <= hotel.starrating %} <ion-icon name="star"></ion-icon>
                        {% else %}
                        <ion-icon name="star-outline"></ion-icon>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a href="{% url 'hotel_detail' hotel.hotelcode %} ">
                      <h3 class="showcase-title">{{hotel.hotelname}}</h3>
                    </a>

                    <p class="showcase-desc">
                      {{ hotel.address }}
                    </p>

                    <div class="price-box">
                      <p class="price">${{ hotel.pricemin }} - ${{hotel.pricemax}}</p>

                    </div>

                    <button class="add-cart-btn">Book now</button>

                    <div class="countdown-box">

                      <p class="countdown-desc">
                        Hurry Up! Offer ends in:
                      </p>

                      <div class="countdown">

                        <div class="countdown-content">

                          <p class="display-number">3</p>

                          <p class="display-text">Days</p>

                        </div>

                        <div class="countdown-content">
                          <p class="display-number">22</p>
                          <p class="display-text">Hours</p>
                        </div>

                        <div class="countdown-content">
                          <p class="display-number">50</p>
                          <p class="display-text">Min</p>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>
              {% endfor %}
            </div>

          </div>

        </div>

      </div>

    </div>





    <div>

      <div class="container">

        <div class="testimonials-box">

          <!--
            - TESTIMONIALS
          -->

          <div class="testimonial">

            <h2 class="title">Feedback</h2>

            <div class="testimonial-card">

              <img src="../static/assets/images/testimonial-1.jpg" alt="alan doe" class="testimonial-banner" width="80"
                height="80">

              <p class="testimonial-name">Alan Doe</p>

              <p class="testimonial-title">CEO & Founder Invision</p>

              <img src="../static/assets/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">

              <p class="testimonial-desc">
                This website is very good!
              </p>

            </div>

          </div>



          <!--
            - CTA
          -->

          <div class="cta-container">

            <img src="../static/assets/images/hotel1.jpg" alt="summer sale" class="cta-banner">

            <a href="#" class="cta-content">

              <p class="discount">25% Discount</p>

              <h2 class="cta-title">Summer Sale </h2>

              <p class="cta-text">Starting @ $150</p>

              <button class="cta-btn">Book now</button>

            </a>

          </div>



          <!--
            - SERVICE
          -->

          <div class="service">

            <h2 class="title">Our Services</h2>

            <div class="service-container">

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Discount for big customers</h3>
                  <p class="service-desc">For Order Over $100</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Discount for regular customers</h3>
                  <p class="service-desc"> Check your wallet now!</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Best Online Support</h3>
                  <p class="service-desc">Hours: 8AM - 11PM</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Return Policy</h3>
                  <p class="service-desc">Easy & Free Return</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="ticket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">30% money back</h3>
                  <p class="service-desc">For Order Over $100</p>

                </div>

              </a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - BLOG
    -->

    <div class="blog">

      <div class="container">

        <div class="blog-container has-scrollbar">

          <div class="blog-card">

            <a href="#">
              <img src="../static/assets/images/blog-1.jpg" alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
                width="300" height="250" class="blog-banner">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Best hotel</a>

              <a href="#">
                <h3 class="blog-title">Hotel Guide for Hotel Executives.</h3>
              </a>

              <p class="blog-meta">
                By <cite>Mr Admin</cite> / <time datetime="2022-04-06">Apr 06, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="../static/assets/images/blog-2.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300" height="250">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Hotel</a>

              <h3>
                <a href="#" class="blog-title">Curbside hotel Trends: How to Win the Pickup Battle.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Mr Robin</cite> / <time datetime="2022-01-18">Jan 18, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="../static/assets/images/blog-3.jpg" alt="EBT vendors: Claim Your Share of SNAP Online Revenue."
                class="blog-banner" width="300" height="250">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Beach</a>

              <h3>
                <a href="#" class="blog-title">EBT vendors: Claim Your Hotel belong the beach online.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Mr Selsa</cite> / <time datetime="2022-02-10">Feb 10, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="../static/assets/images/blog-4.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300" height="250">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">For fun</a>

              <h3>
                <a href="#" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Mr Pawar</cite> / <time datetime="2022-03-15">Mar 15, 2022</time>
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </main>





  <!--
    - FOOTER
  -->

  <footer>

    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Popular Hotel</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Fashion</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Electronic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Cosmetic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Health</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Our Company</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Legal Notice</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Terms and conditions</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">About us</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Secure payment</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Services</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Contact</h2>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="content">
              419 State 414 Rte
              Beaver Dams, New York(NY), 14812, USA
            </address>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us</h2>
          </li>

          <li>
            <ul class="social-link">

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="../static/assets/images/payment.png" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">Nqoannn</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>






  <!--
    - custom js link
  -->

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>