<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />
    <style>
      .container-fluid {
        background-image: url("{% static 'media/background.png' %}");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="layout">
        <div class="form-container">
          <h1 class="title">Booking App</h1>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-provider">
              <div class="form-input">
                <input
                  type="text"
                  placeholder="User name"
                  id="username"
                  name="username"
                />
              </div>
              <div class="form-input">
                <input
                  type="password"
                  placeholder="Password"
                  id="password"
                  name="password"
                />
              </div>
              <div>
                {{ message  }}
              </div>
              <div class="sign-in">
                New to booking app?
                <a class="sign-in" href="/register"> Create new account</a>
              </div>
              <button
                class="btn btn-success btn-custom"
                type="submit"
                name="login"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
